<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Earnings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Earnings</ion-title>
    </ion-toolbar>
  </ion-header>

  <div
    style="display: flex; height: 100%; align-items: center; justify-content: center; flex-direction: column; color: #888;">
    <ion-icon name="wallet-outline" style="font-size: 64px; margin-bottom: 20px;"></ion-icon>
    <h2>Earnings - Coming Soon</h2>
  </div>
</ion-content>